<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizMate"
        tools:targetApi="31">
        <activity
            android:name=".quiz.EditQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.TakeQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizDetailActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.AddQuizActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:theme="@style/CustomDialogTheme"
            android:exported="true"/>
        <activity
            android:name=".main.UserMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".QuizHistoryActivity" />
        <activity android:name=".ResetPasswordActivity" />
    </application>

</manifest>